apiVersion: v1
kind: Service
metadata:
  name: router-svc
  labels:
    app: router
spec:
  selector:
    app: router
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
